

<button {{action addSlideAction}}>add slide</button>
<button>remove slide</button>

<ul>
{{#each item in model}}
    <li><a {{action selectSlideAction item}}>{{item.name}}</a> <a {{action deleteSlideAction item}}>X</a> </li>
{{/each}}
</ul>


<div>Slide list
<ul>
  {{#each item in model}}
    {{render slide item}} 
  {{/each}}
</ul>
</div>