Slide "{{name}}"


{{! handlers }}
{{#if isSelected}}
  <div class="line">
    {{pin-pin class="top left" rotation=true scale=this}}
  </div>
  {{pin-pin class="top left"}}
  {{pin-pin class="top right"}}
  {{pin-pin class="bottom left"}}
  {{pin-pin class="bottom right"}}

  {{#if isEditing}}
    {{textarea value=value}}
  {{else}}
    {{{value}}}
  {{/if}}
  
 {{else}}
	{{{value}}}
{{/if}}