Slide "{{name}}"

{{! handlers }}
{{#if isSelected}}
  <div class="line">
    {{pin-pin class="top left"}}
  </div>
  {{pin-pin class="top left"}}
  {{pin-pin class="top right"}}
  {{pin-pin class="bottom left"}}
  {{pin-pin class="bottom right"}}
{{/if}}